/* 공통 속성 */
a {
  display: inline-block;
  text-decoration: none;
  background-color: #3692FF;
  font-family: 'Pretendard', sans-serif;
  text-align: center;
  justify-content: center;
}
a:hover {
  cursor: pointer;
}
.blue {
  font-family: 'Pretendard';
  color: #3692FF;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}
.paragraph {
  font-family: 'Pretendard', sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 140%;
  display: inline-block;
  color: #374151;
  display: inline-block;
}
.small-paragraph {
  font-family: 'Pretendard', sans-serif;
  font-size: 24px;
  font-weight: 500;
  color: #374151;
  line-height: 32px;
  display: inline-block;
}
body {
  background-size: cover;
}

/* Header */
header {
  position: absolute;
  display: block;
  background-color: #fff;
  z-index: 9999;
  height: 70px;
}
.header {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  position: fixed;
  top: 0;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 9px 200px ;
  border: 1px solid #DFDFDF;
  background-color: #FFF;
}

.header .main-logo {
  display: flex;
  width: 153px;
  height: 51px;
}

.header .main-logo span {
  position: relative;
  font-family: ROKAF Sans;
  font-weight: 700;
  color: #3692FF;
  height: 35px;
  width: 103px;
  top: 9.76px;
  /* left: 48.59px; */
  line-height: 100%;
  font-size: 25.63px;
  text-align: center;
  align-content: center;
}
.header a {
  width: 128px;
  height: auto;
  font-size: 16px;
  line-height: 26px;
  font-weight: 600;
  color: #f3f4f6;
  padding: 12px 23px;
  gap: 10px;
  border-radius: 20px;
}

/* Main */

/* section1 */

.section1 {
  position: relative;
  background-color: #CFE5FF;
  display: block;
  width: 100%;
  height: 540px;
  top: 70px;
  padding: 138px 344px;
}
.section1-word {
  position: absolute;
  display: block;
  top: 200px;
  left: 405px;
  gap: 7px;
}
.word1 {
  display: inline-flex;
  position: relative;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 60px;
  right: -700px;
}
.word1 a {
  font-size: 20px;
  line-height: 32px;
  padding: 16px 124px;
  color: #FFF;
  border-radius: 50px;
}
.section1 .panda {
  position: relative;
  width: 746px;
  height: 340px;
  bottom: -300px;
  right: -700px;
}

.section1 .paragraph {
  align-items: center;

}

/* section2 */

.section2 {
  width: 100%;
  position: relative;
  top: 70px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 64px;
  padding: 138px 342px;
  background-color: #FCFCFC;
}
.section2 .section2-main {
  display: inline-block;
  width: 988px;
  height: auto;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}
.section2-word {
  display: inline-block;
  width: 274px;
  height: 238px;
  padding-left: 60px;
  top: 10px;
}
.section2 .img {
  display: inline-block;
  width: 588px;
  height: 444px;
}

/* section3 */

.section3 {
  width: 100%;
  margin-top:70px;
  text-align: center;
}
.section3 .section3-main {
  display: inline-block;
  background-color: #FCFCFC;
  width: 988px;
  height: auto;
  justify-content: center;
  align-items: center;
}
.section3 .section3-word {
  display: inline-block;
  width: 274px;
  height: 238px;
  padding-left: 60px;
}

/* section4 */

.section4 {
  width: 100%;
  margin-top: 70px;
  text-align: center;
}
.section4 .section4-main {
  display: inline-block;
  background-color: #FCFCFC;
  justify-content: center;
  align-items: center;
}
.section4 .section4-word {
  display: inline-block;
  width: 274px;
  height: 238px;
  padding-right: 60px;
}
.section5 {
  width: 100%;
  background-color: #CFE5FF;
}

/* Footer */
footer {
  display: flex;
  width: 100%;
  height: 160px;
  padding: 23px 200px;
  align-items: flex-start;
  justify-content: space-between;
  gap: 10px;
  flex-shrink: 0;
  background-color: #111827;
  color: #FFF;
}
footer .footer-content {
  color: #9CA3AF;
}
footer .footer-mid a {
  color: #E5E7EB;
  background-color: #111827;
  margin-right: 30px;

}
footer.img {
  display: flex;
  width: 116px;
  align-items: flex-start;
  gap: 12px;
}
footer .img a {
  color: #E5E7EB;
  background-color: #111827;
}
